:root {
  --clr-primary-400: hsl(214, 84%, 56%);
  --clr-primary-300: hsl(214, 84%, 30%);
  --clr-primary-200: hsl(214, 84%, 30%);
  --clr-primary-100: hsl(214, 84%, 70%);

  --clr-secondary-400: hsl(145, 63%, 42%);
  --clr-secondary-300: hsl(0, 79%, 63%);
  --clr-secondary-200: hsl(214, 84%, 30%);
  --clr-secondary-100: hsl(202, 71%, 52%);

  --clr-neutral-900: hsl(0, 0%, 20%);
  --clr-neutral-800: hsl(0, 0%, 31%);

  --clr-neutral-800: hsl(0, 1%, 73%); /* bg color*/
  --clr-neutral-700: hsl(0, 0%, 95%); /* bg color*/
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: 'Noto Sans', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  /* --fs-200: 0.875rem; */
  --fs-300: 0.9378rem;
  --fs-16: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-400);
  /* --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300); */

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 23.4375em) {
  :root {
    --fs-body: var(--fs-300);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-400);

    /* --fs-nav: var(--fs-300); */
  }
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* border: 1px solid red; */
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}



html::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(214deg, 84%, 56% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
} */

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}

::-webkit-scrollbar-track {
  /* background: var(--clr-accent-100); */
  /* background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111); */
  background: linear-gradient(90deg, var(--clr-primary-100), var(--clr-primary-100) 1px, #fff 0, #fff);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-400);
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--ff-body);
  font-weight: var(--fw-bold);
  background-color: var(--clr-neutral-700);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.text-primary-400 {
  color: var(--clr-neutral-900);
}

.text-neutral-100 {
  color: var(--clr-neutral-800);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.mt {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 1.5rem;
}
.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 2.4rem;
}

.mt-5 {
  margin-top: 3rem;
}
.mt-6 {
  margin-top: 4rem;
}

.mb {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 1.5rem;
}
.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 2.4rem;
}

.mb-5 {
  margin-bottom: 3rem;
}
.mb-6 {
  margin-bottom: 4rem;
}

.mx {
  margin-block: 1rem;
}
.mx-2 {
  margin-block: 1.5rem;
}
.mx-3 {
  margin-block: 2rem;
}

.mx-4 {
  margin-block: 2.4rem;
}

.mx-5 {
  margin-block: 3rem;
}
.mx-6 {
  margin-block: 4rem;
}

.my {
  margin-inline: 1rem;
}
.my-2 {
  margin-inline: 1.5rem;
}
.my-3 {
  margin-inline: 2rem;
}

.my-4 {
  margin-inline: 2.4rem;
}

.my-5 {
  margin-inline: 3rem;
}
.my-6 {
  margin-inline: 4rem;
}

.py {
  padding-inline: 1rem;
}
.py-2 {
  padding-inline: 1.5rem;
}
.py-3 {
  padding-inline: 2rem;
}

.py-4 {
  padding-inline: 2.4rem;
}

.py-5 {
  padding-inline: 3rem;
}
.py-6 {
  padding-inline: 4rem;
}

.px {
  padding-block: 1rem;
}
.px-2 {
  padding-block: 1.5rem;
}
.px-3 {
  padding-block: 2rem;
}

.px-4 {
  padding-block: 2.4rem;
}

.px-5 {
  padding-block: 3rem;
}
.px-6 {
  padding-block: 4rem;
}

.flex {
  display: flex;
}

.container {
  --max-width: 1200px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

/* .container {
  max-width: 1110px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
} */

a {
  text-decoration: none;
}

.overlay {
  z-index: 1;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  height: 100vh;
  overflow: hidden;
}

.modal-open {
  overflow: hidden;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
  margin-block: 8px;
}

.flex {
  display: flex;
}

.f-align-c {
  align-items: center;
}

.f-justify-c {
  justify-content: center;
}

.gap-small {
  gap: var(--fs-12);
}

.bg-white {
  background-color: var(--clr-neutral-100);
}

.aside {
  height: fit-content;
  border-radius: 8px;
  padding: 8px 0 8px 0;
}

.aside__lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
}

.aside__lists li {
  padding-block: 5px;
  height: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-size: var(--fs-14);
  line-height: 21px;
  letter-spacing: -0.035em;
  color: #828282;
  transition: all 0.4s ease-in;
}

.aside__lists li::before {
  content: '';
  height: 100%;
  width: 2px;
  /* background-color: var(--clr-primary-400); */
}

.aside__lists li:hover {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  opacity: 0.8;
}

.aside__lists li.aside__active {
  color: var(--clr-primary-400);
}

.aside__lists li.aside__active:hover {
  color: var(--clr-neutral-100);
}

.aside__lists li.aside__active::before {
  content: '';
  height: 100%;
  width: 2px;
  border-radius: 30px;
  background-color: var(--clr-primary-400);
}

@media (max-width: 45em) {
  .cover-picture {
    height: 150px;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .profile-detail {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .profile-detail__content .content {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .profile-detail__content .follow-btn {
    margin-right: 0;
  }
}
