.cover-picture {
  height: 294px;
  margin-top: -1.5rem;
  position: relative;
}

.cover-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: inline-block;
}

.upload {
  position: absolute;
  border: 1px solid green;
  border-radius: 100%;
  right: 30px;
  bottom: 20px;
  padding: 5px;
  cursor: pointer;
}

.upload input {
  display: none;
}

.icon {
  font-size: 1.7rem;
}
